---
import Button from '../components/Button';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main class="max-w-3xl mx-auto my-20 space-y-6">
		<h1>Astro + Tailwind css with monorepo</h1>
		<Button/>
	</main>
</Layout>
